$bg-main: #100E19;
$link: #828187;
$link-active: #FFFFFF;
$button-bg: #1F1B2E;
$button-bg-active: #2E2844;
$button-top-text: #C3C2C8;
$accent-red: #FF0F4D;
$accent-orange: #FF542E;
$accent-green: #73a32f;
$accent-purple: #A869F0;